<div style="background-color: lightblue; width: 100%; margin: 0 auto; min-height: 80px;">
  <div style="width: 20px; float: left;">
    <%= link_to '', faq_upvote_path(faq), method: :post, class: "glyphicon glyphicon-arrow-up", style: up_voted(faq) %>
    
    <h5><%= faq.rating.total %></h5>
    <%= link_to '', faq_downvote_path(faq), method: :post, class: "glyphicon glyphicon-arrow-down", style: down_voted(faq) %>
  </div>
  <div style="display: inline-block; width: 70%;">
    <h5 style="vertical-align: middle;"><%= faq.question.title %></h5>
    <p style="vertical-align: middle;"><%= faq.question.content %></p>
  </div>
</div>