<div class="row">
<%= link_to 'Past Intern Expeirence', '#Summaries', class: 'section' %>
<%= link_to 'FAQ about our programs', '#FAQ', class: 'section' %>
<%= link_to 'Ask a question', '#AskAQuestion', class: 'section' %>


<!-- should move style into a class -->
<div id='master-div'>
  <div class="sections" id='Summaries' style='display: none'>
    <%= render 'intern_summaries/show_intern_summaries' %>
  </div>
  <div class="sections" id='FAQ' style='display: none'>
    <%= render 'faqs/question_and_answers' %>
  </div>
  <div class="sections col-md-6 col-md-offset-3" id='AskAQuestion' style='display: none'>
    <%= render 'faqs/ask_question' %>
  </div>
</div>
</div>

<script>
$("a.section").click(function(event) {
    $("div.sections").hide();
    $($(this).attr('href')).show();
});
$(function() {
    $(window.location.hash).show();
});
</script>