
<div class='col-md-8 col-md-offset-2' style='padding-top: 20px; text-align: center;'>
  <ul class="nav navbar-nav" style='padding-right: 10px; font-size: larger; width: 100%;'>
    <%= link_to 'Past Intern Expeirence |', '#Summaries', class: 'section' %>
    <%= link_to 'FAQ |', '#FAQ', class: 'section' %>
    <%= link_to 'Ask a Question', '#AskAQuestion', class: 'section' %>
  </ul>
</div>

<br>

<!-- should move style into a class -->
<div id='master-div'>
  <div class="sections class='col-md-8 col-md-offset-2'" id='Summaries' style='display: none'>
    <%= render 'intern_summaries/show_intern_summaries' %>
  </div>
  <div class="sections class='col-md-8 col-md-offset-2'" id='FAQ' style='display: none'>
    <%= render 'faqs/question_and_answers' %>
  </div>
  <div class="sections col-md-4 col-md-offset-4" id='AskAQuestion' style='display: none'>
    <%= render 'faqs/ask_question' %>
  </div>
</div>

<script>
    $("a.section").click(function(event) {
        $("div.sections").hide();
        $($(this).attr('href')).show();
    });
    $(function() {
        $(window.location.hash).show();
    });
</script>