<h1 align='center'>Weekly Photo Challenge</h1>
<% if @photo_challenge %>
 <h3><%= @photo_challenge.title %></h3>
  <% if @photo_challenge.photos.any? %>
    <% @photo_challenge.photos[0...5].each do |photo| %>
      <%= image_tag(photo.picture_url, style: 'max-height: 250px; max-width: 250px;') %>
    <% end %>
  <% else %>
    <h5>No images available</h5>
  <% end %>
<% else %>
  <h5>No photo challenges were found</h5>
<% end %>
<p><%= link_to 'See More Photo Challenges', photo_challenges_path %></p>



<h1 align='center'>Intern Events</h1>
<% if @event %>
  <h3><%= @event.name %></h3>
  <% if @event.gallery && @event.gallery.photos.any? %>
    <% @event.gallery.photos[0...5].each do |photo| %>
      <%= image_tag(photo.picture_url, style: 'max-height: 250px; max-width: 250px;') %>
    <% end %>
  <% else %>
    <h5>No images available</h5>
  <% end %>
<% else %>
  <h5>No events were found</h5>
<% end %>
<p><%= link_to 'See More Events', show_event_photos_path %></p>


<!-- <h3>Office</h3> -->
<!-- Need to add images for this -->