<div align='center'>
  <div align='left'>
    <h1 style='text-align: center;'>Ask A Question</h1>

    <%= form_for(@faq) do |f| %>
      <% if @faq.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h2>
          <ul>
            <% @faq.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label :faq_section_id %><br>
        <%= f.collection_select :faq_section_id, @faq_sections, :id, :name, :include_blank => true %>
      </div>
      <div class="field">
        <%= f.fields_for :questions do |question| %>
          <%= question.label :title %><br>
          <%= question.text_field :title %>
          <%= question.label :content %><br>
          <%= question.text_area :content %>
          <%= question.hidden_field :user_id, value: current_user.id %>
        <% end %> 
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>