<hr>
<hr>
<h1>FAQ Section</h1>
<% @faq_sections.each_with_index do |faq_section, index| %>
  <h3><%= faq_section.name %></h3>
  <% faq_section.faqs.each do |faq| %>
    <h5>Total: <%= faq.ratings.first.total %></h5>
    <h5>Up votes: <%= faq.ratings.first.up_votes %></h5>
    <h5>Down votes: <%= faq.ratings.first.down_votes %></h5>
    <td><%= button_to '+1', faq_upvote_path(faq), method: :post %></td>
    <td><%= button_to '-1', faq_downvote_path(faq), method: :post %></td>
    <h5><%= faq.questions.first.title %></h5>
    <p><%= faq.questions.first.content %></p>
  <% end %>
<% end %>
<hr>
<hr>