<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='col-md-2 col-md-offset-3'>
  <div class="field">
    <%= f.text_field :name, placeholder: 'Name of event' %>
  </div>
  <div class="field">
    <%= f.text_field :start_date, placeholder: 'Starts date of event' %>
  </div>
  <div class="field">
    <%= f.text_field :start_time, placeholder: 'Start time of event' %>
  </div>
  <div class="field">
    <%= f.text_field :cost, placeholder: 'Free' %>
  </div>
</div>
<div class='col-md-2 col-md-offset-1'>
  <div class="field">
    <%= f.text_field :location, placeholder: 'Location of event' %>
  </div>
  <div class="field">
    <%= f.text_field :end_date, placeholder: 'End date of event' %>
  </div>
  <div class="field">
    <%= f.text_field :end_time, placeholder: 'End time of event' %>
  </div>
</div>
<div class="col-md-8 col-md-offset-2 field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="col-md-12 actions">
    <%= f.submit %>
  </div>
<% end %>
