<h1>Listing Events</h1>

<div id='events' class='col-md-10 col-md-offset-1'>
 <h2 id='month'>
  <%= link_to '<', date: @date.prev_month %>
  <%= @date.strftime("%B %Y") %>
  <%= link_to '>', date: @date.next_month %>
 </h2>
 <%= calendar @date do |date| %>
   <%= date.day %>
   <% if @events_by_date[date] %>
    <ul>
      <% @events_by_date[date].each do |event| %>
        <li><%= link_to event.name, event %></li>
      <% end %>
    </ul>
   <% end %>
 <% end %>
</div>
<div class='clear'></div>
<% @events_by_date.each do |date, events| %>
<h3><%= date %></h3>
<table>
  
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cost</th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%=  event.cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr>
<% end %>

<%= link_to 'New Event', new_event_path, data: { no_turbolink: true } %>
