<h1 class="col-md-offset-1">Listing Events</h1>

<div id='events' class='col-md-10 col-md-offset-1'>
 <h2 id='month'>
  <%= link_to '<', date: @date.prev_month %>
  <%= @date.strftime("%B %Y") %>
  <%= link_to '>', date: @date.next_month %>
 </h2>
 <%= calendar @date do |date| %>
   <%= date.day %>
   <% if @events_by_date[date] %>
    <ul>
      <% @events_by_date[date].each do |event| %>
        <li><%= link_to event.name, event %></li>
      <% end %>
    </ul>
   <% end %> 
 <% end %>
</div>
<div class='clear'></div>
<div class="row">
  <% @events_by_date.each do |date, events| %>
    <div class="col-md-offset-1 col-md-10">
      <h3><%= date %></h3>
      <table class="table table-bordered table-condensed table-striped cf" id="event.tables">
  
        <thead class="cf">
          <tr>
            <th class="col-md-3">Name</th>
            <th class="col-md-5">Description</th>
            <th class="col-md-2">Cost</th>
          </tr>
        </thead>

        <tbody>
          <% events.each do |event| %>
            <tr>
              <td data-title="Name"><%= event.name %></td>
              <td data-title="Description"><%= event.description %></td>
              <td data-title="Cost"><%= event.cost %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
    </div>
  <% end %>
</div>

<p class="text-center"><%= link_to 'New Event', new_event_path, data: { no_turbolink: true } %></p>
