<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start daettime:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Start daettime:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @event.cost %>
</p>

<p>
  <strong>Reoccur:</strong>
  <%= @event.reoccur %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
