<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class='col-md-2 col-md-offset-3'>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
  </p>
  <p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
  </p>
  <p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime('%I:%M %p') %>
  </p>
  <p>
  <strong>Cost:</strong>
  <%= @event.cost %>
</p>
  </div>
  <div class='col-md-2 col-md-offset-1'>
  <p>
  <strong>Location:</strong>
  <%= @event.location %>
  </p>
  <p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>
<p>
  <strong>End time:</strong>
  <%= @event.end_time.strftime('%I:%M %p') %>
</p>
</div>

<% if Date.today > @event.start_date %>

<div class='col-md-10 col-md-offset-1'>
  <hr style='border-top: 1px solid lightgrey;'>
  <div align='center' class='col-md-12'>
    <h3>Upload your own Photos</h3>
    <%= render 'photos/event_form', event: @photo %>
  </div>
  <div class='clear'></div>
<hr style='border-top: 1px solid lightgrey;'>
<div class='col-md-12'>
  <h3 style='text-align: center;'>Event Photos</h3>
  <% if @event.gallery.photos.any? %>
    <% @event.gallery.photos.each do |photo| %>
    <div style='width: 250px; height: 250px; display: inline;'>
      <%= image_tag(photo.picture_url, style: 'max-width:250px; max-height: 250px; padding: 10px;') %>
      </div>
    <% end %>
  <% else %>
    <p>No pictures have been uploaded for this event</p>
  <% end %>
  </div>
</div>
<% end %>
<div class='col-md-10 col-md-offset-1'>
<hr style='border-top: 1px solid lightgrey;'>
<div>
  <div align='center' class='col-md-1 col-md-offset-1'>
    <%= render 'rsvps/form', event: @event %>
  </div>
  <div  class='col-md-7 col-md-offset-1'>
  <% @event.rsvps.each_with_index do |rsvp, index| %>
    <% if index == (@event.rsvps.size - 1) %>
      <%= rsvp.user.first_name %> <%= rsvp.user.last_name %>
    <% else %>
      <%= rsvp.user.first_name %> <%= rsvp.user.last_name %>,
    <% end %>
  <% end %>
  </div>
</div>
<div class='clear'></div>
<hr style='border-top: 1px solid lightgrey;'>
<h3>Ask questions or leave comments</h3>
<%= render 'comments/form_for_events' %>
<hr style='border-top: 1px solid lightgrey;'>
<% if @event.comments.any? %>
  <% @event.comments.each do |comment| %>
    <h4>Title: <%= comment.title %></h4>
    <p>Context: <%= comment.content %></p>
    <p>User: <%= comment.user.first_name %> <%= comment.user.last_name %></p>
  <% end %>
<% else %>
  <p>No questions or comments have been posted</p>
<% end %>
</div>
