<p id="notice"><%= notice %></p>

<h1>Listing Intern Summaries</h1>
<% @intern_summaries.each do |intern_summary| %>
  <h3><%= intern_summary.title %></h3>
  <p><%= raw intern_summary.content %></p>
  <p>Written by: <%= intern_summary.user.first_name %> <%= intern_summary.user.last_name %></p>
  
  <p>Tags: <%= get_tag_links(intern_summary) %></p>
  <hr>
<% end %>

<br>

<!-- Add a if statement to check if they have permissions to create a summary -->
<%= link_to 'Back to Intern Summaries', summaries_path %>