<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @intern_summary.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @intern_summary.content %>
</p>

<p>
  <strong>Content:</strong>
  <%= @intern_summary.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @intern_summary.user %>
</p>

<%= link_to 'Edit', edit_intern_summary_path(@intern_summary) %> |
<%= link_to 'Back', intern_summaries_path %>
