<%= form_for @photo, :html => {:multipart => true} do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture, placeholder: 'Image File' %>
    <%= f.text_field :remote_picture_url, placeholder: 'Or input url of photo' %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :gallery_id %><br>
    <%= f.collection_select :gallery_id, @galleries.reverse, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :photo_challenge_id %><br>
    <%= f.collection_select :photo_challenge_id, @photo_challenges.reverse, :id, :title, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :winning_photo_id %><br>
    <%= f.collection_select :winning_photo_id, @winning_photos.reverse, :id, :reason, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
