<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :gallery_id %><br>
    <%= f.text_field :gallery_id %>
  </div>
  <div class="field">
    <%= f.label :photo_challenge_id %><br>
    <%= f.text_field :photo_challenge_id %>
  </div>
  <div class="field">
    <%= f.label :winning_photo_id %><br>
    <%= f.text_field :winning_photo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
