<%= form_for @photo, :html => {:multipart => true} do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :picture, placeholder: 'Image File' %>
    <%= f.cktext_area :remote_picture_url, placeholder: 'Or input url of photo' %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.hidden_field :gallery_id, value: @photo_challenge.gallery.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :photo_challenge_id, value: @photo_challenge.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
