<%= form_for(@photo_challenge) do |f| %>
  <% if @photo_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_challenge.errors.count, "error") %> prohibited this photo_challenge from being saved:</h2>

      <ul>
      <% @photo_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Week ?' %>
  </div>
  <div class="field">
    <%= f.text_area :theme, placeholder: 'Theme' %>
  </div>
  <div class="field">
    <%= f.label :year_id %><br>
    <%= f.collection_select :year_id, @years, :id, :name, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
