<%= form_for(@photo_challenge) do |f| %>
  <% if @photo_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_challenge.errors.count, "error") %> prohibited this photo_challenge from being saved:</h2>

      <ul>
      <% @photo_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :theme %><br>
    <%= f.text_area :theme %>
  </div>
  <div class="field">
    <%= f.label :year_id %><br>
    <%= f.text_field :year_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
