<div>
<div class='col-md-8 col-md-offset-1' style='float: left;'>
<% if @photo_challenges.any? %>
  <% @photo_challenges.each do |photo_challenge| %>
    <div id="<%= photo_challenge.id %>">
      <h3><%= photo_challenge.title %> <%= photo_challenge.theme %></h3>
      <% if photo_challenge.photos.any? %>
        <% photo_challenge.photos[0...5].each do |photo| %>
          <%= image_tag(photo.picture_url(:large)) %>
        <% end %>
        <p><%= link_to "View all photos associated with #{photo_challenge.title}", photo_challenge_gallery_path(photo_challenge.id) %></p>
      <% else %>
        <h5>No images available</h5>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h5>No Photo Challenges found</h5>
<% end %>
</div>
<div class='col-md-2 col-md-offset-1' style='float: right; padding:1.5rem;box-shadow:0 1px 2px #aaa;background:white; margin:0 1rem 1rem; border-radius:3px;'>
<% @grouped_challenges.each do |year, photo_challenges| %>
<h3><%= photo_challenges.first.year.name %></h3>
  <% photo_challenges.each do |photo_challenge| %>
    <a href="#<%= photo_challenge.id %>"><%= photo_challenge.title %></a>
  <% end %>
<% end %>
</div>
</div>

