<p id="notice"><%= notice %></p>

<%= link_to 'New Photo challenge', new_photo_challenge_path %>
<br>

<% @photo_challenges.each do |photo_challenge| %>
  <a href="#<%= photo_challenge.id %>"><%= photo_challenge.title %></a>
<% end %>

<% if @photo_challenges.any? %>
  <% @photo_challenges.each do |photo_challenge| %>
    <div id="<%= photo_challenge.id %>">
      <%= photo_challenge.title %>
      <% if photo_challenge.photos.any? %>
        <% photo_challenge.photos[0...5].each do |photo| %>
          <%= image_tag(photo.picture_url) %>
        <% end %>
        <%= link_to "View all photos associated with #{photo_challenge.title}", photo_challenge_gallery_path(photo_challenge.id) %>
      <% else %>
        <h5>No images available</h5>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h5>No Photo Challenges found</h5>
<% end %>

