<% if @photo_challenge %>
  <h1><%= @photo_challenge.title %></h1>
  <% if @photo_challenge.winning_photo  %>
  <div class='col-md-8 col-md-offset-2'>
  <div style='padding:1.5rem;box-shadow:0 1px 2px #aaa;background:white; margin:0 1rem 1rem; border-radius:3px;'>
    <h3>This weeks winning photo is...<h3>
    <div class='col-md-10 col-md-offset-1'>
    <%= link_to image_tag(@photo_challenge.winning_photo.photo.picture_url, style: 'width:100%; max-width:500px; height: 100%; max-height: 500px;'), photo_path(@photo_challenge.winning_photo.photo.id) %>
    </div>
    <div class='clear'></div>
    <h3>Reason: <%= @photo_challenge.winning_photo.reason %></h3>
    
    <div class='clear'></div>
   </div>
   </div>
  <% else %>
    <%= render 'photos/submit_photo' %>
  <% end %>
  <div class='col-md-10 col-md-offset-1'>
  <% if @photo_challenge.photos.any? %>
    <% @photo_challenge.photos.each do |photo| %>
      <% next if @photo_challenge.winning_photo && @photo_challenge.winning_photo.photo.id == photo.id %>
      <%= link_to image_tag(photo.picture_url, style: 'width:100%; max-width:250px; height: 100%; max-height: 250px;'), photo_path(photo.id) %>
    <% end %>
  <% else %>
    <h5>No images available</h5>
  <% end %>
  </div>
<% else %>
  <h5>No photo challenges were found</h5>
<% end %>