<div class='col-md-10 col-md-offset-1'>
<% if @gallery.event && @gallery.event.name %>
  <h1 style='text-align: center'><%= @gallery.event.name %></h1>
  <h3>Event Description: <%= @gallery.event.description %></h3>
<% end %>
<% if @gallery.photo_challenge && @gallery.photo_challenge.title %>
  <%= @gallery.photo_challenge.title %>
<% end %>
<% if @gallery.photos.any? %>
<div class='col-md-10 col-md-offset-1' style='float: left;'>
  <% @gallery.photos.each do |photo| %>
    <div class='square'>
      <div class='gallery_images'>
        <a  href='<%= photo.picture_url %>' data-title='<%= photo.comment %>' data-lightbox="lightbox[<%= @gallery.event.name %>]"><img src="<%= photo.picture_url %>" /></a>
      </div>
    </div>
  <% end %>
<% else %>
  <h5>No images available</h5>
  </div>
<% end %>
</div>