<p id="notice"><%= notice %></p>

<h1>Listing Winning Photos</h1>

<table>
  <thead>
    <tr>
      <th>Photo challenge</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @winning_photos.each do |winning_photo| %>
      <tr>
        <td><%= winning_photo.photo_challenge %></td>
        <td><%= winning_photo.reason %></td>
        <td><%= link_to 'Show', winning_photo %></td>
        <td><%= link_to 'Edit', edit_winning_photo_path(winning_photo) %></td>
        <td><%= link_to 'Destroy', winning_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Winning photo', new_winning_photo_path %>
