<% @photos.each do |photo| %>
  <%= form_for(@winning_photo) do |f| %>
    <% if @winning_photo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@winning_photo.errors.count, "error") %> prohibited this winning_photo from being saved:</h2>
  
        <ul>
        <% @winning_photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :reason %><br>
      <%= f.hidden_field :picture_id, value: photo.id %>
    </div>
    <div class="actions">
      <%= image_submit_tag(photo.picture_url) %>
    </div>
  <% end %>
<% end %>
